.allProducts {
  margin-top: 80px;
  margin-bottom: 30px;
  color: var(--border-green)
}

.allProducts-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}