.notification {
  position: fixed;
  top: 20px;
  /* right: 20px; */
  left: 45%;
  background-color: #4caf50;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  font-size: 16px;
  z-index: 10000;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.3s ease;
}

.notification-visible {
  transform: translateY(0);
  opacity: 1;
}

.notification-hide {
  transform: translateY(-100%);
  opacity: 0;
}