.allCategories {
    margin-top: 100px;
    margin-bottom: 50px;
}

.allCat-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

@media(max-width: 430px) {
    .allCat-wrapper {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
}