.newCategory-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.newCategory-link::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: -110px;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            transparent,
            #ffffff11,
            #ffffff26,
            #ffffff11,
            transparent);
    transform: translateX(-100%) skewX(-25deg);
    pointer-events: none;
}

@keyframes shine {
    to {
        transform: translateX(160%) skewX(-25deg);
    }
}

.newCategory-link:hover::before {
    animation: shine 0.8s forwards;
}

.newCategory-img {
    display: block;
    width: 100%;
    border-radius: 20px;
    transition: 0.3s;
}

.newCategory-block {
    position: relative;
}

.band {
    width: 100%;
    height: 40px;
    background-color: var(--bg-green);
    color: var(--border-green);
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    position: absolute;
    left: -135px;
    top: 45px;
    text-transform: uppercase;
    box-shadow: 0 0 10px #000000cc;
}

.newCategory-text {
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--border-green);
    font-size: 24px;
    font-weight: 600;
    transition: 0.2s
}

.newCategory-link:hover .newCategory-text {
    color: var(--border-green-hover)
}

@media (max-width: 1025px) {
    .band {
        left: -88px;
        top: 40px;
    }

    .newCategory-link::before{

    }
}

@media(max-width: 769px) {
    .band {
        font-size: 16px;
        height: 30px;
        left: -62px;
        top: 30px;
    }
}

@media(max-width: 426px){
    .band{
        font-size: 15px;
        height: 28px;
        left: -55px;
        top: 25px;
    }

    .newCategory-text{
        font-size: 20px;
    }
}

@media(max-width: 376px){
    .band{
        font-size: 13px;
        height: 23px;
        left: -50px;
        top: 20px;
    }
}

@media(max-width: 321px){
    .band{
        left: -40px;
        top: 18px;
        font-size: 12px;
        height: 20px;
    }

    .newCategory-text{
        font-size: 17px;
    }
}