.popularCategorys{
    margin-bottom: 50px;
    color: var(--border-green)
}

.popularCategorys-wrapper{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.popularCategorys-title{
    font-size: 40px;
}

.popularCard-all{
    width: 100%;
    border-radius: 20px;
    background-color: var(--bg-green);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    text-decoration: none;
    color: var(--border-green);
    font-size: 22px;
    font-weight: 600;
}

.popularCard-all:hover{
    background-color: var(--bg-green-hover);
}