.footer {
    background-color: var(--bg-green);
    margin-top: auto;
    padding: 20px 0;
}

.footer img {
    width: 70px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-infoDiv {
    margin-bottom: 15px;
}

.footer-infoDiv:last-of-type {
    margin: 0;
}

@media(max-width: 769px) {
    .footer-socialMedia {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-end;
    }
}

@media(max-width: 376px) {
    .footer img {
        width: 55px;
    }
}