.footer{
    background-color: var(--bg-green);
    margin-top: auto;
    padding: 20px 0;
}

.footer img{
    width: 70px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
}

.footer-infoDiv{
    margin-bottom: 15px;
}

.footer-infoDiv:last-of-type{
    margin: 0;
}