@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

.Header{
    background-color: var(--bg-green);
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links{
    display: flex;
    gap: 65px;
}

.header-link{
    text-decoration: none;
}

.header-catalog{
    text-decoration: none;
    background-color: var(--border-green);
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--bg-orange);
    font-size: 18px;
    font-weight: 700;
}

.logo{
    font-size: 50px;
    font-family: "Fleur De Leah", cursive;
    line-height: 38px;
    color: var(--border-green)
}

.search-inp{
    width: 750px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-green);
}

.header-imgs img{
    width: 35px;
    color: var(--border-green);
}

.header-imgs{
    display: flex;
    gap: 25px;
}

.phone-icon-wrapper{
    cursor: pointer;
}

.phone-info{
    width: 215px;
    padding: 20px;
    background-color: var(--bg-green-hover);
    position: absolute;
    right: 107px;
    top: 67px;
    z-index: 1000;
    box-shadow: 0 4px 12px #00000026;

    
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}
