.newCategory-link{
    width: 30%;
    /* height: 360px; */
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.newCategory-link::before{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: -90px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        #ffffff11,
        #ffffff3e,
        #ffffff11,
        transparent
    );
    transform: translateX(-100%) skewX(-25deg);
    pointer-events: none;
}

@keyframes shine {
    to {
        transform: translateX(140%) skewX(-25deg);
    }
}

.newCategory-link:hover::before{
    animation: shine 0.8s forwards;
}

.newCategory-img{
    display: block;
    width: 100%;
    height: 360px;
    border-radius: 20px;
    transition: opacity 0.3s;
}

.newCategory-block{
    position: relative;
}

.band{
    width: 100%;
    height: 40px;
    background-color: var(--border-green);
    color: var(--bg-orange);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    position: absolute;
    left: -135px;
    top: 45px;
    text-transform: uppercase;
    box-shadow: 0 0 10px #00000084;
}

.newCategory-text{
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--border-green);
    font-size: 24px;
    font-weight: 600;
}