@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

:root{
    --border-green: #3b673e;
    --border-green-hover: rgb(118, 198, 122);
    --bg-green: #cfefd1;
    --bg-green-hover: #a4eca9;
    --bg-orange: #fff7f0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-orange);
    font-family: "Nunito", sans-serif;
}

button{
    font-family: "Nunito", sans-serif;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 1410px) {
    .container{
        max-width: 95%;
    }
}