:root{
    --border-green: #3b673e;
    --bg-green: #cfefd1;
    --bg-orange: #fff7f0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-orange);
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}