.error-content {
    margin-top: 100px;
    color: var(--border-green)
}

.error-title {
    font-size: 40px;
}

.link-toHome {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: 600;
}

.link-toHome:hover {
    color: var(--border-green-hover)
}

.productInfo-all {
    color: var(--border-green);
    margin-top: 100px;
    margin-bottom: 50px;
}

.productInfo {
    display: flex;
    gap: 60px;
}

.productInfo-img {
    border-radius: 20px;
}

.productInfo-price {
    font-size: 20px;
    font-weight: 700;
}

.productInfo .inCart {
    margin-top: 15px;
    width: 50%;
    font-size: 18px;
}

.productInfo-desc {
    margin-top: 15px;
}

.productInfo h1 {
    font-size: 40px;
}

.similar-title {
    margin: 30px 0 15px;
}

.productInfo-similar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

@media(max-width: 1025px) {
    .productInfo {
        gap: 20px;
    }

    .productInfo-img {
        width: 450px;
    }

    .productInfo h1 {
        font-size: 30px;
    }

    .productInfo-desc p {
        font-size: 18px;
    }
}

@media(max-width: 769px) {
    .productInfo-img {
        width: 250px;
    }

    .productInfo h1 {
        font-size: 25px;
    }

    .productInfo-price {
        font-size: 16px;
    }

    .productInfo-height {
        font-size: 15px;
    }

    .productInfo .inCart {
        margin-top: 5px;
    }

    .productInfo-desc {
        margin-top: 5px;
    }
}

@media(max-width: 548px) {
    .productInfo {
        flex-direction: column;
    }

    .productInfo-img {
        width: 100%;
    }

    .productInfo-price {
        font-size: 19px;
    }

    .productInfo .inCart {
        width: 100%;
    }
}

@media(max-width: 442px) {
    .productInfo-similar {
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
}